@font-face {
    font-family : 'DungGeunMo';
    src : url(DungGeunMo.ttf)
  }

* {
    font-family: 'DungGeunMo';
}

body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1.game-title {
    margin-bottom: 30px;
    font-size: 36px;
}

.game-container {
    position: relative;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.053)
    ), url("../gamepage/img/gameback.png");
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 77%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* 중앙 정렬 */
}

.result-message {
    margin-top: 60px;
    font-size: 35px;
    color: white;
    text-shadow: -1px -1px 0 rgb(17, 12, 63),  
                 1px -1px 0 rgb(17, 12, 63),
                 -1px 1px 0 rgb(17, 12, 63),
                 1px 1px 0 rgb(17, 12, 63);
    margin-bottom: -5px;
}

.help-button {
    align-self: flex-start; /* 헬프 버튼을 맨 위에 배치 */
}

.home-button {
    position: absolute;
    top: 20px;
    right: 20px; /* 오른쪽 상단에 위치 */
    order: 1; /* 홈 버튼을 마지막으로 배치 */
}

.help-button,
.home-button,
#restartButton {
    width: 50px; /* 버튼의 너비 */
    height: 50px; /* 버튼의 높이 */
    border: none; /* 버튼의 테두리 제거 */
    background-color: transparent; /* 배경색 투명으로 설정 */
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능함을 나타냄 */
}

/* 버튼 이미지 스타일 */
.help-button img,
.home-button img,
#restartButton img {
    width: 100%; /* 이미지를 버튼의 크기에 맞게 조정 */
    height: auto; /* 이미지의 높이를 자동으로 조정하여 비율 유지 */
}

.score {
    position: absolute;
    top: 20px; 
    left: 50%;  
    transform: translateX(-50%);  
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}


/* 숨겨진 요소를 감추는 스타일 */
.hidden {
    display: none; /* 화면에 표시하지 않음 */
}


.trash-container {
    border: 2px dashed #000000;
    padding: 10px; /* 내부 여백을 10px로 조정 */
    margin-top: 30px;
    margin-bottom: 20px;
    min-height: 60px; /* 최소 높이를 조정 */
    display: flex; /* 쓰레기 아이템을 가운데 정렬하기 위해 */
    justify-content: center; /* 가로 방향 가운데 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */
    border-radius: 20px; /* 모든 모서리를 둥글게 조정 */
}


.trash {
    width: 150px; /* 쓰레기 아이템의 너비 */
    height: 50px; /* 쓰레기 아이템의 높이 */
    border-radius: 10px; /* 쓰레기 아이템의 모서리를 둥글게 만듦 */
    color: #000000; /* 쓰레기 아이템의 텍스트 색상 */
    display: flex; /* 쓰레기 아이템 안의 텍스트를 가운데 정렬하기 위해 */
    justify-content: center; /* 가로 방향 가운데 정렬 */
    align-items: center; /* 세로 방향 가운데 정렬 */
    font-size: 18px; /* 쓰레기 아이템의 텍스트 크기 */
}

.bins {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
}

.bin {
    width: 100px;
    height: 150px;

    text-align: center;
}

.bin img {
    max-width: 100%;
    max-height: 100%;
}

.lives-container {
    position: absolute;
    top: 20px;
    left: 70px; /* 헬프 버튼 옆에 위치 */
    display: flex;
    gap: 10px;
}

.life {
    width: 30px; /* 목숨 이미지의 너비 */
    height: auto; /* 이미지의 높이를 자동으로 조정하여 비율 유지 */
    margin-left: 20px; /* 목숨 이미지 사이의 우측 여백 */
    margin-top: 7px;
}

.carbon-reduction {
    margin-top: 20px;
    font-size: 35px;
}

.hidden {
    display: none;
}

.game-rules {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: left;
    display: none;
    z-index: 999;
    width: calc(100% - 1120px);
    max-height: calc(100% - 300px);
    overflow-y: auto;
}

.close-button {
    background-color: #469660;
    color:#f0f0f0;
    position: absolute; /* 절대 위치 지정 */
    top: 10px; /* 상단 여백 10px 설정 */
    right: 10px; /* 오른쪽 여백 10px 설정 */
    cursor: pointer; /* 마우스 포인터 커서 변경 */
    text-align: center;
    width: 25px;
    height: 25px;
  }
  
  .close-button:hover {
    background-color: #ff0044; /* 마우스 호버 시 배경색 변경 */
  }

.visible {
    display: block;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
