body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1.game-title {
    margin-bottom: 30px;
    font-size: 36px;
}

.game-container {
    position: relative;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ), url("../img/gameback.jpg");
    width: 90%;
    height: 60%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 0 auto;
}

.home-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-message {
    margin-top: 30px;
    font-size: 35px;
    color: white;
    text-shadow: -1px -1px 0 rgb(17, 12, 63),  
                 1px -1px 0 rgb(17, 12, 63),
                 -1px 1px 0 rgb(17, 12, 63),
                 1px 1px 0 rgb(17, 12, 63);
}

#restartButton {
    background-color: #0fb100;
    color: white;
    width: 120px;
    height: 60px;
    font-size: 16px;
    opacity: 0.9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#restartButton:hover {
    background-color: #059700;
}

.help-button {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 25px;
    height: 25px;
    background-color: #001648;
    border: none;
    cursor: pointer;
    font-size: 15px;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #000;
}

.close-button:hover {
    color: red;
}

.score {
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 30px;
}

.trash-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.trash {
    width: 120px;
    height: 60px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.bins {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.bin {
    width: 100px;
    height: 100px;
    border: 2px dashed #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin: 10px;
    position: relative;
}

.lives-container {
    position: absolute;
    top: 20px;
    left: 60px; /* helpButton의 오른쪽에 위치 */
    display: flex;
    gap: 10px;
}

.life {
    font-size: 20px;
}

.carbon-reduction {
    margin-top: 20px;
    font-size: 35px;
}

.hidden {
    display: none;
}

.game-rules {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 20px;
    background-color: #c4ffdf;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: left;
    display: none;
    z-index: 999;
    width: calc(100% - 1000px);
    max-height: calc(100% - 300px);
    overflow-y: auto;
}

.visible {
    display: block;
}
