/* reset */
* {
  margin: 0;
  padding: 0;
  color: #333;
  box-sizing: border-box;
}
* {
  box-sizing: border-box; /* 모든 요소의 박스 크기를 내부 패딩 및 테두리를 포함한 크기로 설정 */
}
a {
  text-decoration: none;
  color: #333;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 58px; /* header의 높이만큼 여백 추가 */
}

header {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* 메뉴 탭 고정 */
  top: 0; /* 화면의 맨 위에 위치하도록 설정 */
  width: 100%; /* 화면 너비에 맞게 설정 */
  z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
  border-bottom: 3px solid #5a5858; /* 아래쪽 회색 줄 추가 */
}

.logo img {
  width: 60px;
  height: 40px;
}

nav ul {
  display: flex;
  gap: 20px;
}

.logo {
  margin-right: 30px;
  font-size: 24px;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block; /* 항목들을 가로로 배열 */
  margin-right: 120px; /* 간격 조정 */
  margin-top: -5px;
}

nav ul li:last-child {
  margin-right: 40px; /* 마지막 메뉴 항목의 간격 조정 */
}

nav ul li a {
  color: #000000; /* 메뉴 항목의 텍스트 색상 */
  text-decoration: none; /* 밑줄 제거 */
}

/* header */
.recycleTab{
  text-align: center;
  padding: 20px;
  margin-top: 100px;
}
.tab1,
.tab2{
  width: 100%;
}
.recycleTab button{
  width: 150px;
  height: 50px;
  margin: 0 5px 10px 0;
  background: #235B36;
  color: white;
  font-size: 15px;
}
.recycleTab button.active{
  background: white;
  border: 4px solid #235B36;
  color: #235B36;
}
.recycleCnts{
  display: flex;
  margin-top: 5px;
}
.recycleSubTab{
  position: relative;
  left: 9%;
}
.recycleSubTab button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  margin: 10px 0;
  border-radius: 25px;
  border: 3px solid #235B36;
  color: #fff;
  background: #235B36;
  font-size: 12px;
  font-weight: bold;
}
.recycleSubTab button.active{
  background: #fff;
  color: #64884A;
  transition: 0.2s;
}
.recycleContent{
  width: 65%;
  height: 450px;
  position: relative;
  left: 10%;
  padding: 20px;
  background: rgb(173, 181, 98, 0.5);
  overflow: auto;
}
/* 내용 구성 - 플라스틱 빼고 */
.recycleCnts h2,h4{
  margin-bottom: 10px;
}
.recycleCnts p:first-child{
  margin: 0;
}
.recycleCnts p{
  margin-bottom: 20px;
}
.recycleCnts img{
  width: 150px;
  height: 150px;
}

/* 음식물 쓰레기, 의약품 쓰레기 스타일 지정 */
.howTo{
  display: block;
  border: 1px solid gray;
  padding: 10px;
}
