/* reset */
* {
  margin: 0;
  padding: 0;
  color: #235B36;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 58px; /* header의 높이만큼 여백 추가 */
}

header {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* 메뉴 탭 고정 */
  top: 0; /* 화면의 맨 위에 위치하도록 설정 */
  width: 100%; /* 화면 너비에 맞게 설정 */
  z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
  border-bottom: 3px solid #5a5858; /* 아래쪽 회색 줄 추가 */
}

nav {
  flex: 1; /* 남은 공간을 모두 차지 */
  display: flex;
  justify-content: center; /* 중앙 정렬 */
}

nav ul {
  display: flex;
  gap: 20px;
}

.logo {
  margin-right: 30px;
  margin-top: 5px;
}

nav ul li {
  display: inline-block; /* 항목들을 가로로 배열 */
  margin-right: 120px; /* 간격 조정 */
  margin-top: 5px; /* 간격 조정 */
}

nav ul li:last-child {
  margin-right: 0; /* 마지막 메뉴 항목의 간격 조정 */
  margin-top: 0; /* 마지막 메뉴 항목의 간격 조정 */
}
.gamefont{
  font-size: 22px;
  color: #235B36;
  font-family: 'DungGeunMo';
}

/* header */
.recycleTab{
  text-align: center;
  padding: 20px;
  margin-top: 100px;
}
.tab1,
.tab2{
  width: 100%;
}
.recycleTab button{
  width: 150px;
  height: 50px;
  margin: 0 5px 10px 0;
  background: #235B36;
  color: white;
  font-size: 15px;
}
.recycleTab button.active{
  background: white;
  border: 4px solid #235B36;
  color: #235B36;
}
.recycleCnts{
  display: flex;
  margin-top: 5px;
}
.recycleSubTab{
  position: relative;
  left: 9%;
}
.recycleSubTab button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  margin: 10px 0;
  border-radius: 25px;
  border: 3px solid #235B36;
  color: #fff;
  background: #235B36;
  font-size: 12px;
  font-weight: bold;
}
.recycleSubTab button.active{
  background: #fff;
  color: #235B36;
  transition: 0.2s;
}
.recycleContent{
  width: 65%;
  height: 450px;
  position: relative;
  left: 10%;
  padding: 20px;
  background: rgba(173, 181, 98, 0.368);
  overflow: auto;
}
/* 내용 구성 - 플라스틱 빼고 */
.recycleCnts h2,h4{
  margin-bottom: 10px;
}
.recycleCnts p:first-child{
  margin: 0;
}
.recycleCnts p{
  margin-bottom: 20px;
}
.recycleCnts img{
  width: 150px;
  height: 150px;
}

/* 음식물 쓰레기, 의약품 쓰레기 스타일 지정 */
.howTo{
  display: block;
  border: 1px solid gray;
  padding: 10px;
}

/* 탄소 계산기 */
.sideCalc{
  position: relative;
  left: 10%;
  width: 16%;
  max-width: 20%;
  height: 300px;
  margin-left: 10px;
  border: 5px solid #235B36;
  border-radius: 30px;
}
.sideCalc h3{
  text-align: center;
  margin-top: 10%;
  font-size: 20px;
  color: #333;
}
.calcCnt{
  text-align: center;
  margin-top: 10%;
}
img.next{
  position: relative;
  width: 30px;
  height: 30px;
  top: -40px;
}
img.calcImg{
  width: 100px;
  height: 100px;
  margin: 0 5px;
  padding: 5px;
}
.calcNum{
  display: flex;
  justify-content: space-between;
  border: 1px solid #235B36;
  margin: 0 30px;
}
.calcNum button{
  border: none;
  width: 20%;
  background: #64884A;
  color: white;
  font-size: 20px;
}
.num{
  margin-top: 2px;
}
.calcSum{
  text-align: center;
  font-size: 25px;
}
.sumBtn{
  width: 70%;
  height: 30px;
  font-size: 17px;
  border: 1px solid #64884A;
  background: white;
  color: #64884A;
  border-radius: 20px;
  margin-top: 4px;
}
.sumBtn{
  width: 70%;
  height: 30px;
  font-size: 17px;
  border: 1px solid #64884A;
  background: white;
  color: #64884A;
  border-radius: 20px;
  margin-top: 4px;
  padding-top: 2px;
}
.sum{
  margin-top: 10px;
  color: #235B36;
}
