body {
    margin: 0; 
    padding: 0;
    display: flex; 
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    width: 100vw; /* 화면 전체 너비를 사용 */
    height: 100vh; /* 화면 전체 높이를 사용 */
    overflow: hidden;
}

.popup-container {
    width: 500px;
    height: 500px;
    display: flex; /* 이미지를 화면 가운데로 정렬하기 위해 flex 사용 */
    justify-content: center; /* 가로 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    overflow: hidden; 
}

img.popup-image {
    max-width: 100%; 
    max-height: 100%; 
    width: auto; 
    height: auto;
    cursor: pointer;
}