* {
  box-sizing: border-box; /* 모든 요소의 박스 크기를 내부 패딩 및 테두리를 포함한 크기로 설정 */
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 58px; /* header의 높이만큼 여백 추가 */
}

header {
  position:absolute;
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* 메뉴 탭 고정 */
  top: 0; /* 화면의 맨 위에 위치하도록 설정 */
  width: 100%; /* 화면 너비에 맞게 설정 */
  z-index: 1000; /* 다른 요소 위에 표시되도록 설정 */
  border-bottom: 3px solid #5a5858; /* 아래쪽 회색 줄 추가 */
}

nav {
  flex: 1; /* 남은 공간을 모두 차지 */
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  gap: 20px;
}

.logo {
  margin-right: 30px;
  margin-top: 5px;
}

nav ul li {
  display: inline-block; /* 항목들을 가로로 배열 */
  margin-right: 120px; /* 간격 조정 */
  margin-top: 5px; /* 간격 조정 */
}

nav ul li:last-child {
  margin-right: 0; /* 마지막 메뉴 항목의 간격 조정 */
  margin-top: 0; /* 마지막 메뉴 항목의 간격 조정 */
}
.gamefont{
  font-size: 22px;
  color: #235B36;
  font-family: 'DungGeunMo';
}

.banner-section {
  display: flex;
  flex-direction: column; /* 배너를 세로로 쌓기 위해 column 방향으로 설정 */
  align-items: center; /* 가운데 정렬 */
}

#map {
  position: relative; /* 또는 absolute, fixed 등 */
}

.kakao-map-zoom-control {
  position: absolute !important; /* 위치를 절대 위치로 설정 */
  bottom: 60px; /* 하단에서 60px 위치 */
  right: 20px; /* 오른쪽에서 20px 위치 */
  z-index: 1000; /* 헤더보다 위에 보이도록 z-index 설정 */
}

.kakao-infowindow.infowindow-content {
  width: 300px; /* 원하는 너비로 설정 */
  height: 200px; /* 원하는 높이로 설정 */
  overflow-y: auto; /* 내용이 넘칠 경우 수직 스크롤바 표시 */
}

.titleMap{
  margin-left: 10%;
}


.search-bar {
  float: right;
  margin-left: 80px;

}

.search-bar input[type="text"] {
  width: 150px;
}

.search-bar button img {
  width: 10px; /* 이미지 너비 설정 */
  height: 12px; /* 높이 자동 조정 */
  margin-top: 3px;
}


.banner {
  max-width: 600px;
  width: 100%; /* 배너의 가로 너비를 화면 너비에 맞춤 */
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.banner1 {
  background-color: white;
  padding: 20px;
  text-align: center;
  margin-bottom: 0; /* 배너 사이의 간격 제거 */
  width: 100%; /* 화면 너비에 꽉 차게 설정 */
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* 세로 가운데 정렬 */
  align-items: center; /* 가로 가운데 정렬 */
  position: relative; /* 상대적 위치 설정 */
  border: 25px solid hsla(140, 44%, 25%, 0.7);
  margin-top: 16px;
}

.logo-container img {
  max-width: 50%; /* 로고 이미지 너비를 75%로 설정 */
  max-height: auto; /* 높이는 자동으로 조정되도록 설정 */
}

.quick-recycle {
  margin-top: 20px; /* "빠른 분리 바른 배출"과 로고 사이의 여백 조정 */
  font-size: 24px; /* 텍스트 크기 설정 */
}

.banner2 {
  display: flex;
  height: 400px;
  box-sizing: border-box;
  overflow: hidden;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center; /* 세로 방향으로 중앙 정렬 */
}

.slide-container {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide-container a {
  flex: none;
  width: 100%;
  height: 100%;
}

.slide-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner2 img {
  max-width: 100%; /* 이미지가 부모 요소의 너비에 맞게 조정됨 */
  max-height: 100%; /* 이미지가 부모 요소의 높이에 맞게 조정됨 */
  width: auto; /* 이미지의 비율을 유지하면서 너비 조정 */
  height: auto; /* 이미지의 비율을 유지하면서 높이 조정 */
  text-align: center;
}

.banner3 {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin-bottom: 0; /* 배너 사이의 간격 제거 */
  width: 100%;/* 화면 너비에 꽉 차게 설정 */
  height: 360px;
}

.banner3 h1 {
  color: #004d40; 
  font-size: 30px; 
  margin-top: 70px; 
  margin-bottom: 38px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon img {
  width: 120px;
  height: 120px;
  margin: 8px;
  cursor: pointer;
}

.icon span {
  margin-top: 7px;
  font-size: 26px;
  color: #235B36;
  font-family: 'GmarketSansTTFMedium', sans-serif;
}

/* footer */
footer {
  width: 100%;
  height: 100%;
  background-color: #0B2505;
  color: #777;
  font-family: 'GmarketSansTTFLight';
  font-size: 16px;
}
.footerCont span{
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'GmarketSansTTFLight';
}
.ftitle{
  margin-top: 10px;
  color: #999;
}
p{
  margin: 20px;
  margin-top: 30px;
  font-size: 14px;
  color: #999;
}

body {
  height: 100vh;
  overflow-y: auto;
}

/* footer */
footer {
  width: 100%;
  height: 100%;
  background-color: #0B2505;
  color: #777;
  font-family: 'GmarketSansTTFLight';
  font-size: 16px;
}
.footerCont span{
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'GmarketSansTTFLight';
}
.ftitle{
  margin-top: 10px;
  color: #999;
}
p{
  margin: 20px;
  margin-top: 30px;
  font-size: 14px;
  color: #999;
}

body {
  height: 100vh;
  overflow-y: auto;
}