body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: white;
    z-index: 1000;
}

#cartButton {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: fixed; /* fixed로 변경하여 화면에 고정 */
    top: 30px; 
    right: 20px;
    z-index: 1001; /* 헤더보다 앞에 나오도록 z-index 설정 */
}

#cartButton img {
    width: 100%; 
    height: 100%;
    object-fit: contain;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.quantity-control button {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.quantity-control .quantity {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
}

.header-divider {
    margin-top: 80px; /* 헤더를 고려하여 여백 추가 */
    height: 25px;
    background-color: #4CAF50;
}

.container {
    padding-top: 140px; /* 헤더 높이를 피하기 위한 상단 여백 */
    display: flex;
    justify-content: space-between;
}

.left-section {
    position: fixed;
    top: 140px;
    left: 20px;
    width: 48%;
    height: calc(100vh - 160px); /* 헤더와 패딩을 제외한 높이 */
    overflow-y: auto;
}

.right-section {
    position: fixed;
    top: 140px;
    right: 20px;
    width: 48%;
    height: calc(100vh - 160px); /* 헤더와 패딩을 제외한 높이 */
    overflow-y: auto;
}

.vertical-divider {
    position: fixed;
    top: 140px;
    left: calc(50% - 1px); /* 화면의 중간에 위치 */
    width: 2px;
    height: calc(100vh - 160px);
    background-color: #4CAF50;
    z-index: 1000; /* 다른 요소들보다 뒤에 위치하도록 설정 */
}

.left-section h2, .right-section h2 {
    font-size: 22px;
    color: #4CAF50;
    margin-bottom: 10px;
}

.best-title {
    text-align: center;
    margin-top: 22px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

.best-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열로 변경 */
    grid-gap: 10px; /* 간격을 줄임 */
    justify-content: center; /* 가운데 정렬 */
}

.product-item {
    background-color: white;
    border: 1px solid #4CAF50;
    padding: 10px;
    text-align: center;
    max-width: 180px;
    max-height: 180px;
}

.best-grid .product-item {
    max-width: 300px;
    max-height: 300px;
}

.product-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 2px;
}

.best-grid .product-item img {
    width: 200px;
    height: 200px;
}

.product-item h3 {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.product-item button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
}

.product-item button:hover {
    background-color: #388E3C;
}