body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
}

h2 {
    color: #007bff;
    margin-top: 20px;
}

p, ul {
    margin: 10px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f1f1f1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#emptyCartMessage {
    color: #888;
    margin-top: 20px;
    display: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#checkoutButton {
    background-color: #28a745;
    color: white;
    width: auto;
}

#checkoutButton:hover {
    background-color: #218838;
}

input[type="text"], input[type="number"] {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.delete-button {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}

.popup.hidden {
    display: none;
}
